[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule "slock"]
	path = slock
	url = https://git.suckless.org/slock
[submodule "xssstate"]
	path = xssstate
	url = https://git.suckless.org/xssstate
